body {
    font-family: Arial, sans-serif;
    /* Gunakan jenis huruf Arial atau sans-serif */
    background-color: #D9EDBF;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 32px;
    /* Ukuran font h1 */
    color: #333;
    /* Warna font h1 */
    text-align: center;
    /* Pusatkan judul */
    margin-top: 50px;
    /* Berikan jarak atas */
}

.teknologi {
    font-size: 18px;
    /* Ukuran font untuk "Teknologi Informatika" */
    color: #666;
    /* Warna font untuk "Teknologi Informatika" */
    text-align: center;
    /* Pusatkan teks */
}

.navigasi {
    background-color: #2C7865;
    /* Warna latar belakang navigasi */
    padding: 10px;
    /* Padding untuk menjaga jarak dari konten */
    text-align: center;
    /* Pusatkan teks */
}

.navigasi a {
    color: #fff;
    /* Warna teks */
    text-decoration: none;
    /* Hapus dekorasi tautan */
    padding: 10px 15px;
    /* Berikan padding agar tautan lebih mudah diklik */
    margin: 0 5px;
    /* Jarak antar tautan */
    border-radius: 5px;
    /* Buat sudut tautan menjadi sedikit melengkung */
    transition: background-color 0.3s;
    /* Transisi perubahan warna latar belakang */
}

.navigasi a:hover {
    background-color: #90D26D;
    /* Warna latar belakang saat tautan dihover */
}

/* CSS yang sama seperti yang digunakan di halaman lainnya */
.containerabout {
    font-family: 'Glacial Indifference', Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
    /* Pusatkan konten */
}

h2 {
    color: #333;
    text-align: center;
}

p {
    color: #555;
    line-height: 1.6;
}
